
*.slxc
Simulation/Simulink/slprj/sim/varcache/Crazyflie_Simulation_Position/checksumOfCache.mat
Simulation/Simulink/slprj/sim/varcache/Crazyflie_Simulation_Position/tmwinternal/simulink_cache.xml
Simulation/Simulink/slprj/sim/varcache/Crazyflie_Simulation_Position/varInfo.mat

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace

Real/ros2_ws/src/p4_drone_project/p4_drone_project/PathPlanner/DATA/

# ros2 non-src folders
Real/ros2_ws/build/
Real/ros2_ws/cache/
Real/ros2_ws/install/
Real/ros2_ws/log/
